{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{super()}}
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>

{% endblock %}


{% block title %}Enterobase - Change Details{% endblock %}


{% block maincontent %}

    <p align="center">
        <div   class="register">
          <h3>Change Details</h3>
          <form class="form-hrizontal" method="POST" id="reg-form">



             
               {{ form.hidden_tag() }}
                {{macros.render_field(form.username) }} 
                {{macros.render_field(form.firstname) }} 
                {{macros.render_field(form.lastname) }}           
                {{macros.render_field(form.department) }} 
                {{macros.render_field(form.institution) }} 
                {{macros.render_field(form.city) }} 
                {{macros.render_field(form.country) }}                
                <p align ="center">
                               {{ form.submit() }}
                <button type= "button" id ="cancel"> Cancel</button>
                
                </p>               
                
                           
            
        </form >
    
    </div>
    </p>
    
                          

{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $(document).ready(function () {
  
                 $("#submit").attr('disabled',true);
                $(document).find(':input').each(function(){
                                $(this).keyup(function(e){
                               
                                $("#submit").attr('disabled',false);
                               
                                e.target.style.backgroundColor= "yellow"
                                });
                });
                $("#cancel").click(function (e) {
                    
                     window.location='{{request.args.get('next') or url_for("main.index")}}'
                });
               
  });
</script>
{% endblock %}