{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{super()}}
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>

{% endblock %}
{% block title %}Enterobase - Register{% endblock %}

{% block maincontent %}


    <p align="center">
        <div   class="register">
          <h3>Register</h3>
          <p><b>Please read the <a target ="_blank" 
          href="http://enterobase.readthedocs.io/en/latest/enterobase-terms-of-use.html">
          EnteroBase terms and conditions</a> before registering.</b></p>
          <form class="form-hrizontal" method="POST" id="reg-form">
           {{ form.hidden_tag() }}
            
                {{macros.render_field(form.username) }} 
                {{macros.render_field(form.firstname) }} 
                {{macros.render_field(form.lastname) }} 
                {{macros.render_field(form.email) }} 
                {{macros.render_field(form.department) }} 
                {{macros.render_field(form.institution) }} 
                {{macros.render_field(form.city) }} 
                {{macros.render_field(form.country) }}                
                {{macros.render_field(form.password) }} 
                {{macros.render_field(form.password2) }} 
                {{macros.render_field(form.agreement) }} 
            <div>
              <label></label>
              <div  class= "button">{{ form.submit() }} </div> 
            </div>
          </form>
      </div>
    </p>
 
{% endblock %}
