<p>Dear {{ user.firstname }},</p>
<p>Your SNP Project has finished, you can load it from <a href="enterobase.wrawick.ac.uk">Enterobase</a> or go to the
following page <a href= '{{url}}'>url</a></p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{url}}</p>
<p>Sincerely,</p>
<p>The Enterobase Team</p>
