
<br>
<span style="padding-top:4px;padding-bottom:4px;background-color:#cfcfcf">
<a  href = "/species/{{database}}/allele_st_search" class='legacy-link'>Allele / ST Query|</a>
<a href  =" /species/{{database}}/search_strains"class='legacy-link'>Strain Query|</a>
<a  href = "/species/{{database}}/download_7_gene" class='legacy-link'>Downloads|</a>
<a  href = "http://enterobase.readthedocs.io/en/latest/mlst/mlst-legacy-info-{{database}}.html" class='legacy-link'>Info|</a>
<a href = "/species/{{database}}/mlst_legacy_info" class='legacy-link'>History</a>
</span>
<br>
<br>
