{% extends "bsl_base.html" %}
{% block head %}
{{super()}}

<!-- WVN 14/8/17 - borrowed style sheets from species index template
  since I decided I want it to have a broadly similar style to those pages -->
    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->

      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />

<style>
.makeBW {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.wvnVBigFont {
  font-size: 20pt;
}

.wvnBigFont {
  font-size: 16pt;
}

/* WVN not really decided if I want this at 12pt instead */
.wvnLessBigFont {
  font-size: 14pt;
}

</style>

{% endblock %}
  
{% block maincontent %}
{{ super() }}
{% include "species/legacy_header.html" %}
            <span class="wvnVBigFont">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Old Warwick MLST Website</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </span>

            <!-- /.row -->

            <div class="row">
                            <div class="col-lg-12">

                <div class="panel panel-default">
                  <span class="wvnLessBigFont">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i>Important Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>
                            <b>Any Questions or comments?</b>
                            <ul>
                            <li>Please post to our <a href='http://bitbucket.org/enterobase/enterobase-web/issues?status=new&status=open'>Issue tracker (BitBucket)</a></li>
                            <li>Or <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/Home'>read the Wiki</a></li>
                            </ul>
                            </p>
                        </li>
                        </div>
                        <div class="panel-body">
                        <p>The website for the old MLST databases at the University of Warwick
                        which was previously at http://mlst.warwick.ac.uk (and http://mlst.ucc.ie before that)
                        has now been retired.  This is because the old MLST website has been
                        replaced with EnteroBase.  While it was possible to maintain the old MLST website
                        for a while for the benefit of users,
                        the old website could not be maintained because it supported an
                        obsolete technology.  It is now also recommended to obtain whole genome
                        sequences which are more accurate than ABI sequencing.
                        During the lifespan of the legacy MLST website, one third of the new
                        alleles we received which were based on ABI sequences represented
                        sequencing errors rather than real sequence
                        variations. Resolving these errors manually was time consuming.
                        In addition, we don't know how many new STs were wrong,
                        because novel combinations of known alleles can be due to mix-ups rather
                        than recombination.</p>
                        <p>In order to improve the quality of the database, we now demand that all
                        new allele/STs be defined by NGS short reads. If you upload short
                        reads into <a href='/'>http://enterobase.warwick.ac.uk/</a>,
                        we will assemble the short
                        reads and report to you back their allele designations. On top of
                        this, you get access to additional information by comparing your genomes
                        with &gt;100,000 existing genomes from all over the world. These genomes
                        were either published in NCBI short read archive database, or have been
                        uploaded by other users.</p>
                        <p>The average cost for NGS sequencing of a bacterial strain is also now cheaper
                        than ABI sequencing. If you have difficulties in getting NGS sequencing
                        done, we suggest you get in touch with
                        <a href='http://microbesng.uk/'>http://microbesng.uk/</a>,
                        which gives you cheap access to NGS. If you still want
                        to stay with ABI sequencing, you can download all the alleles from
                        EnteroBase and build up your own local MLST database. Alternatively, you can try
                        <a href='http://pubmlst.org/'>http://pubmlst.org/</a>,
                        which is an online tool for allele
                        identifications (but will not give you new alleles).</p>
                        </div>
                  </span>
                </div>

            </div>

{% endblock %}
    <!-- jQuery -->
{% block scripts %}
{{super()}}
  
{% endblock %}
