<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" href={{url_for('static',filename='js/jquery-ui-1.11.4/jquery-ui.min.css')}}>
		<style>
				body{
						width:100%;
						height:100%;
				}
				#graph-div{
						width:840px;
						height:580px;
						position: absolute;
						top:10px;
						left:150px;
						
				}
				#sidebar {
					position:absolute;
					top:10px;
					width:150px;
	
				}
				.brush .extent {
					stroke: #fff;
					fill-opacity: .125;
				shape-rendering: crispEdges;
				}
				.selected{
						background-color:blue;
				}
			

				.graph-selection-indicator {
				position: absolute;
				background: transparent;
				border: 1px solid orange;
				}
				.slider-class{
						float: left;
						clear: left;
						width: 130px;
						height:5px;
						margin: 5px;
				}
		.slider-class .ui-slider-handle {
			
			height:12px;
			}
			.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}


.collapsed-node {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}
.link-labels{
font-size:6px; 
	
}

.node {
font: 10px sans-serif;
}

.link {
fill: none;
stroke: black;
stroke-width: 1px;
cursor:pointer;
}

.link-extension{
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}

.marker {
fill: #fff;
stroke: black;
stroke-width: 1px;
}

		
		</style>

</head>
<body>
<div id ='microreact-dialog' style = "display:none">
	<div id ="main-component-div">
	<label><b>Project Name:</b></label><br><input id = 'microreact-name'>
	<br>
	<label><b>Email(optional):</b></label><br><input id = 'microreact-email'>
	<br>	
	<label><b>Date Format:</b></label>
	<br>
	<input type="radio" name="date-format" value="YYYY" checked="checked"> Year<br>
	<input type="radio" name="date-format" value="YYYY-MM"> Year/Month<br>
	<input type="radio" name="date-format" value="YYYY-MM-DD"> Year/Month/Day
	<br>
	<label><b>Group By Country</b><input type="checkbox" id="group-by-country">
	</div>
	<div id ='results-div' style='display:none'></div>
	
	
</div>
<div id='sidebar'>

	<div style="cursor:pointer" id = "microreact-div"><img  src="/static/img/general/microreact.png"><div style="display:inline-block;width:110px" id ='microreact-text'>Create Microreact Project</div></div>
	<hr style='width:140px'>
	<label>X Scale</label>
	<br>
	<div id = "slider-xscale" class ="slider-class"></div>
	<br>
	<label><input id ='x-log-scale' type="checkbox"  /> Log Scale</label>
	<br>
	<label>Max X:</label>
	<input type='text' style='width:30px;height:15px' id ='spinner-maxlinklength'>
	<button id ='button-setmaxlinklength'>Go</button>
	<label>Y Scale</label>
	<br>
	<div id = "slider-yscale" class ="slider-class"></div>
	<br>
	<label>Layout</label>
	<br>
		<select id = 'tree-layout-select'>
		<option value = 'circular'>Radial</option>
		<option value = 'horizontal'>Horizontal</option>
	<select>
	<br>
	<hr style='width:140px'>
	<label><input id ='show-markers'type="checkbox" checked /> Markers</label>
	<br>
	<label>Marker Size</label>
	<br>
	<div id = "slider-markersize" class = "slider-class"></div>
	<br>
	<label><input id ='align-markers'type="checkbox" />Aligned</label>
	<br>
	<label>Colour By:</label>
	<br>
	<select id = 'metadata-select'></select>
	<br>
	<hr style='width:140px'>
	<br>
	<label><input id ='show-leaf-labels'type="checkbox"  /> Leaf Labels</label>
	<br>
	<label>Font Size</label>
	<br>
	<div id = "slider-leaffontsize" class = "slider-class"></div>
	<label>Label Text</label>
	<select id = 'node-label-text'>
		<option value = 'Name'>Strain Name</option>
		<option value = 'cat'>Category</option>
	<select>
	<br>
	<hr style='width:140px'>
<label><input id ='show-link-labels'type="checkbox" /> Branch Labels</label>
<br>
<label>Font Size</label>
<br>
<div id = "slider-linkfontsize" class = "slider-class"></div>
<br>
<label>Branch Thickness</label>
<br>
<div id = "slider-branch-thickness" class = "slider-class"></div>
<hr style='width:140px'>
<label>Click Mode</label>
<br>
<select id = 'click-mode-select'>
	<option value = 'select'>Select Branches</option>
	<option value = 'swap'>Swap Branches</option>
	<option value = 'collapse'>Collapse Branches</option>
	<select>
<br>
<hr style='width:140px'>
<p align='center'>
<button id = 'button-filter-selected'> Filter Selected</button>
</p>
<p align='center'>
<button id = 'button-highlight-selected'> Highlight Selected</button>
</p>
<p align='center'>
<button onclick = 'javascript:D3Tree.showSubTree()' id = 'button-highlight-selected'> Create SubTree</button>
</p>
<p align='center'>
<button onclick = 'javascript:D3Tree.showWholeTree()' id = 'button-highlight-selected'> Show Whole Tree</button>
</p>
<br>
<hr style='width:140px'>
<label>Downloads</label>
<br>
<a href="javascript:downloadSNPFile('nwk')">Nwk</a>|
<a href="javascript:downloadSNPFile('matrix')">Matrix</a>|
<a href="javascript:downloadSNPFile('map')">Map</a>

</div>


	<div id = "graph-div" class="graph-overlay"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src ="{{ url_for('static', filename='js/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
<script charset="utf-8" src="/static/js/main/d3.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDNgPBHVSHb9DZS8pRr6gK_Hah3q0KERkU"></script>
<script src="{{url_for('static',filename='js/main/gmaps.min.js')}}"></script>
<script charset="utf-8" src="/static/js/tree/base_tree.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script charset="utf-8" src="/static/js/tree/d3_p_tree.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script charset="utf-8" src="/static/js/main/enterobase.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script>


var waitingDialog = null;
var loadingAllelesDialog = null;
var callingGrid = null;
var D3Tree= null;
var allLinks = [];
var allIdentifiers=[];
var allInput={};
var snp_project_id={{snp_project_id}};
var database = null;
var snp_project_name=null;
var snp_nwk_file="";
var microreact_data=null;
var location_send_list=[];
var max_sends=0;


function loadSNPProject(){
	to_send= {
		    project_id:snp_project_id
	}
	Enterobase.call_restful_json("/load_SNP_project","POST",to_send,displayErrorMessage).done(function(data){
			if (data['incomplete']){
				Enterobase.modalAlert("SNP Analysis is not yet finished");
			}
			else if (data['error']){
				Enterobase.modalAlert("There was an error loading the SNP project. Please contact an administrator");
			}	
			else{
				D3Tree=new D3PTree("graph-div",data);
				database = data['database'];
				snp_project_name =  data['name'];
				
			
				if (data['microreact']){
					microreact_datadata['microreact'];
					$("#microreact-text").html("View Microreact Project")
				}
				$("#microreact-name").val(snp_project_name);
				var fields = data['fields'];
				
				snp_nwk_file =data['nwk'];
				metadata_options = data['metadata_options'];
				
				for (var option in metadata_options){
					var opt_group = $("<optgroup>").attr("label",option);
					for (var value in metadata_options[option]){
						opt_group.append($("<option>")
								.attr("value",value)
								.text(metadata_options[option][value]));
					}
					$("#metadata-select").append(opt_group)
				}
				if (data['layout_data']){
					if (data['layout_data']['display_category']){
						$("#metadata-select").val(data['layout_data']['display_category']);
					}
				}
				
				window.open(data['jbrowse_uri'],name+"_snps",'width=1000, height=600');
				
			}
		});



}

function downloadSNPFile(type){
    if (type === 'nwk'){
		var nk = snp_nwk_file;
		for (var barcode in the_tree.grouped_nodes){
			var strain_ids = the_tree.grouped_nodes[barcode];
			if (strain_ids){
				var strain = the_tree.metadasta[strain_ids[0]];
				nk = nk.replace(barcode,strain['strain']);
			
			}
		}
		Enterobase.showSaveDialog(nk);
    }
	else if (type === 'map'){
		var list = []
		for (var barcode in D3Tree.metadata){
			var name = D3Tree.metadata[barcode]['Name'];
			list.push(barcode+"\t"+name);	
		}
		Enterobase.showSaveDialog(list.join("\n"));
   }
   else if(type === 'matrix'){
		url="/upload/download_snp?snp_id="+snp_project_id+"&type=matrix";
		Enterobase.downloadURL(url);
		
   }

}
function initiateMicroreactJob(){
	$("#main-component-div").hide();
	$("#results-div").html("<p align='center'><img src='/static/img/upload/waiting.gif'><p><p align= 'center'>Getting Geographic Details</p>");
	$("#results-div").show();
	var location_to_barcodes={};
	
	for (var barcode in D3Tree.metadata){
		var item = D3Tree.metadata[barcode];
		var info ="";
		if (!item['Latitude'] && item['Latitude']!==0){
			if (item['City']){
				info = item['City']+" "+item['District']+" "+item["Region"]+" "+item['Country'];
			}
			else if (item['District']){
				info = item['District']+" "+item['Region']+" "+item['Country'];				
			}
			else if (item['Region']){
				info = item['Region']+" "+item['Country'];					
			}
			else if (item['Country']){		
				info= item['Country'];				
			}				
		}
		if (info){
			var bar_list = location_to_barcodes[info];
			if (!bar_list){
				bar_list=[];
				location_to_barcodes[info]=bar_list;
				
			}
			bar_list.push(barcode);
		}
	}
	location_send_list=[];
	
	for (var location in location_to_barcodes){
		location_send_list.push({"location":location,"barcodes":location_to_barcodes[location]})
	}
	if (location_send_list.length >0){		
		sendLatLongSearch(0);
		return;	
	}
	sendToMicroreact();
}

function sendLatLongSearch(list_index){
	
	if (max_sends>200 ||  list_index >=location_send_list.length){
		sendToMicroreact();
		return;
	}
	var location = location_send_list[list_index]['location']
	
	GMaps.geocode({
		address: location,
		callback: function(results, status){
			
			if(status=='OK'){
				var latlng = results[0].geometry.location;
				var barcodes = location_send_list[list_index]['barcodes']		 
				for (var i in barcodes){
					var item = D3Tree.metadata[barcodes[i]];
					item['Latitude']=latlng.lat();
					item['Longitude']=latlng.lng();
				
				}
				list_index++;
				
				
								
			}
			else{
				console.log(status);
			}
			max_sends++;
			setTimeout(function(){
				sendLatLongSearch(list_index);
			},300);
			
			
		}
	});
			



}

function sendToMicroreact (){
	//first parse of data to remove empty columns and add colours
	var meta = D3Tree.metadata;
	var fields = window.opener.SNP_project_data['fields'];
	
	var categories={};
	for (var i in fields){
		categories[fields[i]]={};
	
	}
	for (var barcode in meta){
		for (var i in fields){
			var label = fields[i];
			var val = meta[barcode][label];
			if (val){
				categories[label][val]=true;
			}
		}	
	}
	var colors={};
	var temp_fields=[];
	var colour_pallete =d3.scale.category20().range().concat(d3.scale.category20b().range(),d3.scale.category20c().range());
	for (var label in categories){	
		//no colours for these just add it
		if (label==='Name' || label==='Latitude' || label ==='Longitude' || label==='Collection Date'){
			temp_fields.push(label);		
		}
		else{
			colors[label]={};
			var color_index=0;
			var values  = categories[label];
			for (var value in values){
				
				colors[label][value]=colour_pallete[color_index];
				color_index++;			
			}
			//only add those with categories
			if (color_index !==0){
				temp_fields.push(label);
			}
		}
	
	}
	fields=temp_fields;
	
	
	var header =  fields.join(",");
	
	
	for (var i in fields){
		var label = fields[i];
		if (colors[label]){		
			header+=","+label+"__colour";
		}
	}
	var lines = ["id,"+header];
	lines[0]=lines[0].replace(/\./g, '');
	lines[0]=lines[0].replace(/\s+/g, '_');
	lines[0]=lines[0].toLowerCase();
	var date_format = $('input[name=date-format]:checked').val();	
	for (var barcode in meta){
		var line = barcode;
		for (var i in fields){
			var label = fields[i];
			var val = meta[barcode][label];
			if (label === 'Collection Date' && val !== 'ND'){
				var arr = val.split("-")
				if (date_format==="YYYY"){
					val = arr[0];
				}
				else if (date_format === 'YYYY-MM'){
					val=arr[0]+"-"+arr[1];
				}
			}
			if (!val && val !==0){
				val="";
			}
			if (val.replace){
				val=val.replace(/,/g,"-");
			}
			line+=","+val;
			if (line.split(",").length>35){
				console.log(line);
			}
		}
		for (var i in fields){
			var label = fields[i];
			if (colors[label]){
				var val = meta[barcode][label];
				if (!val){
					line+=","
				}
				else{
					line+=","+colors[label][val];
				}
			}
			
		}				
		lines.push(line);
	}
	var commas= lines[0].split(",").length-1;
	var missing  = D3Tree.getNodesWithoutData();
	for (var bi in missing){
		var line ="";
		for (var n=0;n<commas;n++){
			line+=",";
		
		}
		lines.push(missing[bi]+line);
	
	
	}
	var obj={
		name:$("#microreact-name").val(),
		timeline_field:"collection_date",
		timeline_format:date_format,		
		tree:snp_nwk_file,
		data:lines.join("\n")
	};
	
	
	obj['map_countryField']="country";
	if ($('#group-by-country').prop('checked')){
		obj['map_grouped']=true;
	}
	
	var email = $("#microreact").val();
	if (email){
		obj['email']=email;
	}
	
	var to_send={
		"info":JSON.stringify(obj),
		"snp_id":snp_project_id
	}
	$("#main-component-div").hide();
	$("#results-div").html("<p align='center'><img src='/static/img/upload/waiting.gif'></p><p align='center'>Sending Data To Microreact</p>");
	$("#results-div").show();	
	
Enterobase.call_restful_json("send_microreact","POST",to_send,displayErrorMessage).done(function(data){
		if (data['error']){
			msg = "There were the following errors in submission<ul>";
			for (var i in data['log']){
					msg+="<li>"+data['log'][i]+"</li>"		
			}
			msg+="</ul>";
			$("#results-div").html(msg);
			
			
		}
		else{
			$("#results-div").html("Your submission was successful. You can view your project at the following link<br><a target = '_blank' href='"+data['url']+"'>"+data['url']+"</a>");
			$("#microreact-text").html("View Microreact Project");
			microreact_data=data['url'];
               }
	});
	

}



function displayErrorMessage(msg){
	Enterobase.modalAlert(msg);
}



window.onload = function (){
		
		
		$("#microreact-dialog").dialog({
			buttons:[{
				text:"Submit",
				click:function(){
					if(!$(this).data("job_sent")){
						initiateMicroreactJob();
						$(this).data("job_sent",true);
						$("#microreact-submit").text("Close");
					}
					else{
						$("#microreact-dialog").dialog("close");
						$("#microreact-submit").text("Submit");
						$(this).data("job_sent",false);
						
					}
				
				},
				id:"microreact-submit"			
			}],
			autoOpen:false,
			width:450,
			title:"Create Microreact Project",
			close:function(){
				$("#main-component-div").show();
				$("#results-div").hide();		
			}
		});
		
		
		
		
		$("#metadata-select").on("change",function(e){
				D3Tree.changeCategory($(this).val());
		}).val("Country");
		$("#click-mode-select").val("select");
		$("#click-mode-select").on("change",function(e){
				D3Tree.clickMode = $(this).val();
		});
		
		
		
		$(window).resize(function(){
				var winh = ($(window).height())-10;
				var winw = ($(window).width());
				var div  = $("#graph-div");
				div.height(winh).css({"max-height":winh+"px","min-height":winh+"px"});
				$("#graph-div").width(winw);
		
		});
			
		$( "#slider-xscale" ).slider({
				orientation: "horizontal",
				min:50,
				max: 6000,
				value: 400,
				slide:function(){D3Tree.changeXScale($("#slider-xscale").slider("value"));},
				change: function(){D3Tree.changeXScale($("#slider-xscale").slider("value"));}
				
			});
			$( "#slider-yscale" ).slider({
				orientation: "horizontal",
				min:50,
				max: 4000,
				value: 450,
				slide:function(){D3Tree.changeYScale($("#slider-yscale").slider("value"));},
				change: function(){D3Tree.changeYScale($("#slider-yscale").slider("value"));}
				
			});
			
		$( "#slider-markersize" ).slider({
				orientation: "horizontal",
				min:1,
				max: 20,
				value: 6,
				slide:function(){D3Tree.setMarkerSize($("#slider-markersize").slider("value"));},
				change: function(){D3Tree.setMarkerSize($("#slider-markersize").slider("value"));}
		});
		
		$( "#slider-leaffontsize" ).slider({
				orientation: "horizontal",
				min:4,
				max: 20,
				value: 10,
				slide:function(){D3Tree.setLeafLabelTextSize($("#slider-leaffontsize").slider("value"));},
				change: function(){D3Tree.setLeafLabelTextSize($("#slider-leaffontsize").slider("value"));}
		});
		$( "#slider-linkfontsize" ).slider({
				orientation: "horizontal",
				min:4,
				max: 20,
				value: 6,
				slide:function(){D3Tree.setBranchLabelTextSize($("#slider-linkfontsize").slider("value"));},
				change: function(){D3Tree.setBranchLabelTextSize($("#slider-linkfontsize").slider("value"));}
		});
		
	
		$( "#slider-branch-thickness" ).slider({
				orientation: "horizontal",
				min:1,
				max: 10,
				value: 2,
				slide:function(){D3Tree.setBranchThickness($("#slider-branch-thickness").slider("value"));},
				change: function(){D3Tree.setBranchThickness($("#slider-branch-thickness").slider("value"));}
		});
		
		
		
		$("#node-label-text").change(function(e){
				var val = $(this).val();
				if (val !=='Name'){
					val=D3Tree.displayCategory;
				}
				D3Tree.changeEndLabel(val);
		});
		$("#tree-layout-select").change(function(e){
				var val = $(this).val();		
				D3Tree.switchMode(val);
		});
		
		
		$("#spinner-maxlinklength").spinner({
				min:100,
				step:100
		});
		$("#button-setmaxlinklength").click(function(){
			var max  = $("#spinner-maxlinklength").val();
					if (max){
						D3Tree.setMaxBranchLength(max);
					}	
		});
		
		
		
		$("#button-refresh").click(function(){	
					waitingDialog =  new Enterobase.ModalWaitingDialog("Updating Graph",null,"/static/js/table/images/waiting.gif");	
					mstTree.refreshGraph(function(){
						waitingDialog.close();
						$( "#slider-charge" ).slider("value",3)
					});			
		});	
			
			
			
			
		$("#show-link-labels").click(function(e){			
			D3Tree.showBranchLabels($(this).is(":checked"))
		});
		
		$("#x-log-scale").click(function(e){			
			D3Tree.setXLogScale($(this).is(":checked"))
		});
		$("#show-leaf-labels").click(function(e){
			D3Tree.showLeafLabels($(this).is(":checked"));		
		});
		
		$("#show-markers").click(function(e){
			D3Tree.showMarkers($(this).is(":checked"));		
		});
		$("#align-markers").click(function(e){
			D3Tree.alignLeafLabels($(this).is(":checked"));		
		});
		
		$("#button-filter-selected").click(function(e){
							var ids = D3Tree.getSelectedIDs();
							var len = ids.length;
							if (len ===0){
								Enterobase.modalAlert("There are no nodes selected in the Tree. Press shift and drag the mouse to select nodes");
								return;
							
							}
							else{
							window.opener.mainGrid.filterOnID(ids);
							Enterobase.modalAlert(len+" rows(s) have been selected in the main table.")
						}     
				});
			
				
				$("#button-highlight-selected").click(function(e){
						var IDs =window.opener.mainGrid.getSelectedRows();
						if  (IDs.length ===0){
							Enterobase.modalAlert("Please select rows in the main grid first")
						}
						mstTree.highlight_IDs(IDs);
	
						
						
				});	
				$("#microreact-div").click(function(e){
					var url = microreact_data;
					if (!url){
						$('#microreact-dialog').dialog('open');
					}
					else{
						window.open(url, '_blank');
					}
				
				});
				loadSNPProject();
}

</script>
</body>
</html>