{% extends "base.html" %}

{% block head %}
{{super()}}
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	

<style>



</style>

{% endblock %}


{% block title %}Enterobase{% endblock %}
{% block maincontent %}

 



<!-- Databases -->
<div class = 'container'>
	<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Available Databases</h1>
				</div>
	</div>
	<div class="row row-eq-height ">
	{% for rec in db_info %}
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading" onclick="window.location='/species/index/{{rec['name']}}';">
					<div class="species-header">{{rec['label']}}</div>
					<div class="total-strains">Strains:{{rec['total_strains']}}</div>
					<div class ="mlst-information"  style="height:250px"> Assembled
						<ul>
						{% if rec['mlst_achtman'] > 0 %}
							<li> Legacy:<b>{{rec['mlst_achtman']}} </b></li>
						{% endif %}
							<li> From NGS:<b>{{rec['assemblies']}} </b></li>
							<li> In Progress:<b>{{rec['queued']}}</b> </li>
						</ul>

						{% if rec['scheme_info']|length > 0 %}
							Schemes
							<ul>
							{% for scheme, cnt in rec['scheme_info']|dictsort %}
								<li>{{scheme}}:<b>{{cnt}}</b></li>
							{% endfor %}
							</ul>
						{% endif %}

					</div>
				</div>
				<a href="/species/index/{{rec['name']}}">
					<div class="panel-footer">
						<span class="pull-left">Database Home</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
		  </div>
		</div>
		{% if loop.index %99999 == 0  %}
			</div><div class = "row row-eq-height">
		{% endif %}
	{% endfor %}
	</div>	
</div>

<footer style= "margin-top:50px" class="footer">
	<div  class="container">
		<div class="row row-eq-height ">
			<div class="col-lg-3 col-md-3">
				<a href = "http://www2.warwick.ac.uk/fac/med/">
				<img style='display:block;margin-left:auto;margin-right:auto;' src="/static/img/general/med_logo.png">
				</a>
			</div>
			<div class="col-lg-6 col-md-6">
				<div style='display:block;margin-left:auto;margin-right:auto' >
					<b>Need Help? Not sure where to start? <a href='http://enterobase.readthedocs.io/en/latest/index.html' target="_blank">Click here to read the documentation</a></b><br>
					Any Questions or comments? please post to our <a href='https://bitbucket.org/enterobase/enterobase-web/issues?status=new&status=open' target="_blank">Issue tracker (BitBucket)</a><br>
                                        Support for users of the old 7-gene MLST site - <a href='warwick_mlst_legacy' target="_blank">click here</a>
 					<br>	
					<br>					
					If you use <b>data/metadata from the website, or the analysis based on these data</b>, please cite EnteroBase as:
					<br>
					<ul>
					<li>
					Zhou Z, Alikhan NF, Mohamed K, the Agama Study Group, Achtman M (2020) The EnteroBase user's guide, with case studies on <i>Salmonella</i> transmissions, <i>Yersinia pestis</i> phylogeny and <i>Escherichia</i> core genomic diversity.
					 <a href='https://genome.cshlp.org/content/30/1/138.long' target="_blank">Genome Res. 30:138-152</a>.
					</li>
					</ul>
 					Please cite <b><i>Salmonella database </i></b>as:
					<ul>
                                        <li>
                                        Achtman M, Zhou Z, Alikhan NF, et al. (2020) Genomic diversity of <i>Salmonella enterica</i> - The UoWUCC 10K genomes project. <a href='https://doi.org/10.12688/wellcomeopenres.16291.1' target='_blank'>Wellcome Open Res 5:223</a>
                                        </li>
					<li>
					Alikhan NF, Zhou Z,Sergeant MJ, Achtman M (2018) A genomic overview of the population structure of <i>Salmonella</a>. <a href='https://doi.org/10.1371/journal.pgen.1007261' target="_blank">PLoS Genet 14 (4): e1007261</a>
					</li>
					</ul>
  					Please cite <b><i>Clostridioides database </i></b>as:
					<ul>
					<li>
					Frentrup M, Zhou Z, et al. (2020) A publicly accessible database for Clostridioides difficile genome sequences supports tracing of transmission chains and epidemics. <a href='https://doi.org/10.1099/mgen.0.000410' target='_blank'> DOI 10.1099/mgen.0.000410</a>
					</li>
					</ul>
  					If you use <b>GrapeTree</b> please cite the following paper: 
					<ul>
					<li>
					Zhou Z, Alikan NF, et al. GrapeTree: visualization of core genomic relationships among 100,000 bacterial pathogens. <a href='https://genome.cshlp.org/content/28/9/1395.full' target="_blank">Genome Res. 28:1395-1404</a><br>
	                                </li>					
					</ul>
					<br>Development team (<a href="mailto:enterobase@warwick.ac.uk?Subject=Enterobase%20query">enterobase@warwick.ac.uk</a>):
					<ul>
						<li>Zhemin Zhou</li>						
						<li>Khaled Mohamed</li>
						<li>Mark Achtman</li>
					</ul>
					Former team members:
					<ul>
					        <li>Nabil-Fareed Alikhan</li>
						<li>Martin Sergeant</li>
						<li>William Nicholson</li>
                                                <li>Yulei Fan</li>
					</ul><br>
				</div>
			</div>		
			<div class="col-lg-3 col-md-3">
				<a href = "http://www.bbsrc.ac.uk">
				<img style='display:block;margin-left:auto;margin-right:auto;'src="/static/img/general/bbsrc_logo.png">
				</a>
			</div>
		</div>
	</div>	
</footer>


{% endblock %}



{% block scripts %}
{{ super() }}
<script>
$(window).load(function () {
	
	
});
</script>
{% endblock %}



  


